* {
    transition: all .5s ease;
}

.text {
    text-align: center;
    overflow: hidden;
    transition: all .7s ease-in;
}

.in {
    left: 0 !important;
}

$main-white: floralWhite;
$main-green: mediumseagreen;
$main-font-color: #333;