@import './define.scss';

@media screen and (max-width: 1024px){
    .title {
        margin-left: 0 !important;
        border-radius: 0 20px 20px 0 !important;
    }
    .bars{
        display: block !important;
        height: calc(100vh - 51px);
        top: 51px;
        left: calc(100vw + 10px);
        position: absolute;
        background: $main-white;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
        li {
            display: block;
            width: 70%;
            border-bottom: 1px solid rgba(255,250,240,.4);
            margin: auto;
            &:hover {
                border-bottom: 1px solid rgba(255,250,240,.4) !important;
            }
        }
    }
    .bars-bt {
        display: block !important;
    }
    .prop {
        height: 0 !important;
    }
    .intro {
        padding-top: 51px !important;
    }
    .contact-item {
        width: 100% !important;
        float: left;
    }
}
@media screen and (max-width: 640px){

}
