@media screen and (max-width: 1024px){
    .contact-item {
        width: 100% !important;
        float: left;
    }
}
@media screen and (max-width: 640px){
    .title {
        margin-left: 10px !important;
    }
    .intro {
        padding-top: 51px !important;
    }
    .bars-bt {
        display: block !important;
    }
    .bars {
        display: none !important;
    }
}
