.content {
  width: 80vw;
  max-width: 1080px;
  height: auto;
  text-align: center;
  margin: 0 auto;
  animation: fadeInUp .7s forwards;
}

.titleBg {
  line-height: 4rem;
  width: 280px;
  background: url(../../resource/titleBg.gif) no-repeat left center;
  background-size: auto 300%;
  margin: 0 auto;
}
