* {
  transition: all .5s ease;
}

.text {
  text-align: center;
  overflow: hidden;
  transition: all .7s ease-in;
}

.in {
  left: 0 !important;
}

@media screen and (max-width: 1024px) {
  .bars {
    display: block !important;
    height: calc(100vh - 51px);
    top: 51px;
    left: calc(100vw + 10px);
    position: absolute;
    background: floralWhite;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  }
  .bars li {
    display: block;
    width: 80%;
    border-bottom: 1px solid rgba(60, 179, 113, 0.3);
    margin: auto;
  }
  .bars li:hover {
    border-bottom: 1px solid rgba(60, 179, 113, 0.3) !important;
  }
  .bars-bt {
    display: block !important;
  }
  .title {
    margin-left: 10px !important;
  }
  .intro {
    padding-top: 51px !important;
  }
  .contact-item {
    width: 100% !important;
    float: left;
  }
}
