* {
  transition: all .5s ease;
}

.text {
  text-align: center;
  overflow: hidden;
  font-size: 20px;
}

.in {
  left: 0 !important;
}

.title-left {
  margin-left: 0 !important;
  border-radius: 0 20px 20px 0 !important;
}

.bars-right {
  width: 80% !important;
  right: 0;
  top: 9px !important;
}

.prop-close {
  height: 0 !important;
}

@media screen and (max-width: 1024px) {
  .title {
    margin-left: 0 !important;
    border-radius: 0 20px 20px 0 !important;
  }
  .bars {
    display: block !important;
    height: calc(100vh - 51px);
    top: 51px;
    left: calc(100vw + 10px);
    position: absolute;
    background: floralWhite;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  }
  .bars li {
    display: block;
    width: 70%;
    border-bottom: 1px solid rgba(255, 250, 240, 0.4);
    margin: auto;
  }
  .bars li:hover {
    border-bottom: 1px solid rgba(255, 250, 240, 0.4) !important;
  }
  .bars-bt {
    display: block !important;
  }
  .prop {
    height: 0 !important;
  }
  .intro {
    padding-top: 51px !important;
  }
  .contact-item {
    width: 100% !important;
    float: left;
  }
}
